
.search input{
    height: 31px;
    width:100%;
    background-color: black;
    border:none;
    outline: none;
}

.search2 input{
    height: 31px;
    width:100%;
    background-color: transparent;
    border:none;
    outline: none;
}

img{
    height: 38px;
}

#movies-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.search{
    width:251px;
    padding: 0px 21px;
    align-items: center;
    height: 41px;
    background-color: black;
    display: flex;
    border-radius: 22px;
    justify-content: center;
}

.search ::placeholder {
    color: black;
  }

.search2{
    width:251px;
    padding: 0px 21px;
    align-items: center;
    height: 41px;
    background-color: rgba(245,245,245,0.8);
    display: flex;
    border-radius: 22px;
    justify-content: center;
}

.showcase-box img{
    
    object-fit: cover;
    width:100%;
    object-position: top;
    height: 100%;
}


nav{
    width:100%;
    border:1px solid black;
    top: 0;
    align-items: center;
    z-index: 100;
    background-color: black; /* navbar color */
    position: fixed;
    left: 0;
    display: flex;
    justify-content: space-around;
}

.logo {
    height: 39px;
}

.cs-hidden{
    overflow: visible !important;
}



@media(max-width:440px){
    .movies-box a,.movies-box{
        width: 100%;
    }
    .movies-box{
        flex-direction: column;
    }
    .logo img{
        height: 30px;
    }
    .search{
        width: 90%;
        height: 40px;
    }
    .search2{
        width: 90%;
        height: 40px;
    }
}


.btns a{
    background-color: blue;
    margin: 10px;
    display: flex;
    justify-content: center;
    border:none;
    outline: none;
    color: white;
    width: 130px;
    height: 40px;
    align-items: center;
    font-size: 1rem;
}

.latest-b-text{

    display: flex;
    width:100%;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    align-items: center;
    
}

nav .menu{
    display: flex;
}

.movies-img{
    width:100%;
    height: 400px;
    position: relative;
}

.latest-box{
    display: flex;
    background-color: white;
    align-items: center;
    border-radius: 10px;
    overflow:hidden;
    flex-direction: column;
    width:200px;
    margin: 20px 10px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}

.search i{
    color:black;
}
.search2 i{
    color:#3a3a3a;
}
nav .menu li a:hover{
    background-color: #242424;
    color:white;
    box-shadow: 5px 11px 30px rgba(53,53,53,0.1);
    transition: all ease 0.2s;
}

nav .menu-btn{
    display: none;
}

#main{
    padding-top: 80px;
    background-color:#E0E0E0; /*new releases background color*/
}

.showcase-heading{
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #1a1a1a;
    font-weight: 501;
    padding-left: 30px;
    text-transform: uppercase;
}

#latest{
    border-top: 1px solid rgba(53,53,53,0.1);
}

.trending-now{
    margin: 30px 30px 0px 30px;

    font-size: 1.3rem;
    font-weight: 501;
}

.movies-box a{
    text-align:center;
    display: block;
    display: -webkit-box;
    max-width: 80%;
    text-overflow: ellipsis;
    color: #3a3a3a;
    margin: 20px;
    overflow: hidden;
    font-weight: 601;
    -webkit-line-clamp: vertical;
}

.latest-b-img{
    width:100%;
    height: 270px;
}

.latest-b-text strong{
    color:#3a3a3a;
    margin: 0px;
}


.latest-b-text p{
    color:#979797;
    margin: 0px;
}


.movies-heading{
    display: flex;
    margin:0px 2%;
}

.movies-box{
    width:300px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    border-top: 3px solid #292929;
}

.movies-img img{
    width: 100%;
    
    object-fit: cover;
    height: 100%;
}

.movies-box:hover{
    transition: all ease 0.2s;
    transform: translateY(-10px);
}


.btns{
    display: flex;
    align-items: center;
    justify-content: center;
}



.btns a:hover{
    background-color: blue;
}
footer{
    justify-content: space-around;
    align-items: center;
    display: flex;
    border-top: 1px solid rgba(0,0,0,0.1);
 
}


@media(max-width:1100px){
    nav{
        justify-content: space-between;
        height: 70px;
        padding: 0px 10px;
    }
    nav .menu{
       display: none;
        position: absolute;
        top: 65px;
        left: 0px;
        background:black; /* drop down menu color small size */
        border-bottom:4px solid #242424;
        width:100%;
        padding:0px;
        margin:0px;
    }
    .menu li{
        width:100%;
    }
    nav .menu li a{
        width: 100%;
        height: 40px;
        align-items: center;
        margin: 0px;
        padding:25px;
        border:1px solid rgba(38,38,38,0.03);
    }
 
    nav .menu-icon{
        cursor: pointer;
        float: right;
        padding:28px 20px;
        position: relative;
        user-select: none;
        display: block;
    }
    nav .menu-icon .nav-icon{
        background-color: #333333;
        display: block;
        height: 2px;
        position: relative;
        transition: background 0.2s ease-out;
        width: 18px;
    }
    nav .menu-icon .nav-icon:before,nav .menu-icon .nav-icon:after{
        background: #333333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all ease-out 0.2s;
        width: 100%;
    }
    nav .menu-icon .nav-icon:before{
        top:5px;
    }
    nav .menu-icon .nav-icon:after{
        top:-5px;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon{
        background: transparent;
 
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
        transform: rotate(-45deg);
        top: 0;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
        transform: rotate(45deg);
        top: 0;
    }
    nav .menu-btn{
        display: none;
    }
    nav .menu-btn:checked ~ .menu{
        display: block;
    }
}


@media(max-width:680px){
    .showcase-box{
        max-width: 300px;
        height: 180px;
        margin: 10px;
    }
    
    footer{
        justify-content: space-between;
        padding:0px 20px;
        text-align: center;
    }

    .movies-box{
        flex-direction: row;
        width:90%;
        border: 1px solid rgba(0,0,0,0.2);
    }
    .movies-box a{
        width:65%;
    }

    .latest-box{
        width:190px;
        margin: 20px 5px;
    }

}




*{
    box-sizing: border-box;
}

.quality{
    
    top: 0px;
    background-color: #1f1f1f;
    color: white;
    left: 50%;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.4);
    transform: translateX(-50%);
    padding: 5px 20px;
    font-weight: 501;
    position: absolute;
    
}


ul{
    list-style: none;
}


a{
    text-decoration: none;
}

.showcase-box{
    border-radius: 10px;
    width:430px;
    margin:0px 20px 10px 20px;
    overflow: hidden;
    height: 250px;
    box-shadow: 5px 15px 30px rgba(0,0,0,0.3);
}

.latest-b-img img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

body{
    padding: 0px;
    background-color:#E0E0E0; /* body background color*/
    margin:0px;
}

.movies-heading h2{
    font-weight: 401;
    border: 1px solid rgba(0,0,0,0.06);
    font-size: 1.7rem;
    padding: 1px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.01);
    margin: 0px;
    width: 100%;
}

nav .menu li a{
    height: 41px;
    color:white; /*nav bar text color*/
    letter-spacing: 1px;
    line-height: 43px;
    font-weight: 502;
    margin: 0px;
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 0px 23px;
    display: flex;
}


footer p{
    color:#5e5e5e;
    font-size: 0.9rem;
    margin: 10px 0px;
}


