
footer{
    display: flex;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.rentmovie12 {
    color: gray;
}

.search2 input{
    height: 31px;
    width:100%;
    background-color: transparent;
    border:none;
    outline: none;
}

.search2 i{
    color:#3a3a3a;
}

.latest-b-text{
    width:100%;
    justify-content: center;
    display: flex; 
}

#movies-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.search::placeholder {
    color: black;
}

.search2{
    align-items: center;
    height: 41px;
}


.search{
    width:251px;
    padding: 0px 21px;
    align-items: center;
    height: 41px;
}


.logo {
    height: 41px;
}

.cs-hidden{
    overflow: visible !important;
}


.btns a{
    font-size: 1.0rem;
    justify-content: center;
    border:none;
    outline: none;
    color: white;
    width: 128px;
    height: 39px;
}


.latest-b-text{
    align-items: center;
    flex-direction: column;
    margin: 9px;    
}

.showcase-box img{
    object-position: top;
    height: 100%;
}

nav .menu{
    display: flex;
}

.movies-img{
    width:100%;
    height: 400px;
    position: relative;
}

.latest-box{
    display: flex;
    background-color: white;
    align-items: center;
    border-radius: 10px;
    overflow:hidden;
    flex-direction: column;
    width:200px;
    margin: 20px 10px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}

.search i{
    color:black;
}


nav .menu li a:hover{
    background-color: black;
    color:white;
    box-shadow: 5px 11px 30px rgba(53,53,53,0.1);
    transition: all ease 0.2s;
}

nav .menu-btn{
    display: none;
}

#main{
    padding-top: 80px;
    background-color:#E0E0E0; /*new releases background color*/
}

.showcase-heading{
    font-weight: 450;
    padding-left: 28px;
}

.showcase-heading{
    font-size: 1.4rem;
    letter-spacing: 1.0px;
    color: black;
}

.rentme1 { 
    color: gray;
    margin: auto;
}

#latest{
    border-top: 1px solid rgba(53,53,53,0.1);
}

nav{
    width:100%;
    align-items: center;
    z-index: 100;
    border:1px solid black;
    top: 0;
}

.trending-now{
    font-size: 1.3rem;
    font-weight: 488;
}

.trending-now{
    margin: 29px 29px 0px 30px;
}

.movies-box a{
    text-align:center;
    display: -webkit-box;
    max-width: 80%;
    color: black;
}


.latest-b-img{
    width:100%;
    height: 269px;
}

.latest-b-text strong{
    color:gray;
    margin: 0px;
}

.movierent{
    margin: auto;
    width: 20px;
    color: gray;
}

.latest-b-text p{
    color:gray;
}

.movies-box a{
    margin: 20px;
    overflow: hidden;
    font-weight: 588;
    -webkit-line-clamp: vertical;
}

.movies-heading{
    display: flex;
    margin:0px 2%;
}

.movies-box{
    width:298px;
    margin: 23px;
    display: flex;
    justify-content: space-between;
}

.movies-box{
    align-items: center;
    flex-direction: column;
    border-radius: 7px;
    overflow: hidden;
}

.movies-img img{
    width: 99%;
    object-fit: cover;
    height: 99%;
}


.btns{
    display: flex;
    align-items: center;
    justify-content: center;
}


@media(max-width:438px){
    .movies-box{
        flex-direction: column;
    }
    .search2{
        width: 88%;
        height: 38px;
    }

    .search{
        width: 88%;
        height: 38px;
    }
    .logo img{
        height: 28px;
    }
    .movies-box a,.movies-box{
        width: 100%;
    }
}



.search2{
    width:251px;
    padding: 0px 21px;
}


.btns a:hover{
    background-color: blue;
}


footer{
    justify-content: space-around;
    align-items: center;
}


@media(max-width:1100px){
    
    nav .menu{
        width:100%;
        padding:0px;
        background:black; /* drop down menu color small size */
        border-bottom:6px solid black;
        margin:0px;
    }

    .menu li{
        width:100%;
    }

    nav .menu li a{
        width: 100%;
        height: 39px;
        margin: 0px;
    }


    nav{
        justify-content: space-between;
        height: 69px;
        padding: 0px 9px;
    }
 
    nav .menu-icon{
        user-select: none;
        position: relative;
        display: block;
        cursor: pointer;
        float: right;
        padding:29px 21px;
    }

    nav .menu-icon .nav-icon:before,nav .menu-icon .nav-icon:after{
    
        position: absolute;
        content: '';
        display: block;
        height: 100%;
        transition: all ease-out 0.2s;
        background: #333333;

        width: 100%;
    }
    nav .menu-icon .nav-icon:before{
        top:5px;
    }

    nav .menu-icon .nav-icon:after{
        top:-5px;
    }

    nav .menu-btn:checked ~ .menu-icon .nav-icon{
        background: transparent;
    }

    nav .menu-icon .nav-icon{
        background-color: #333333;
        display: block;
        height: 3px;
        position: relative;
        transition: background 0.2s ease-out;
        width: 19px;
    }

    nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
        transform: rotate(-45deg);
        top: 0;
    }

    nav .menu{
        display: none;
         position: absolute;
         top: 66px;
         left: 0px;
     }

    nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
        transform: rotate(45deg);
        top: 0;
    }

    nav .menu-btn{
        display: none;
    }

    nav .menu-btn:checked ~ .menu{
        display: block;
    }

    nav .menu li a{
        padding:26px;
        border:1px solid rgba(38,38,38,0.03);
        align-items: center;
    }
}


@media(max-width:680px){
    .showcase-box{
        max-width: 300px;
        height: 180px;
        margin: 10px;
    }
    
    footer{
        justify-content: space-between;
        padding:0px 20px;
        text-align: center;
    }

    .movies-box{
        flex-direction: row;
        width:90%;
        border: 1px solid rgba(0,0,0,0.2);
    }
    .movies-box a{
        width:65%;
    }

    .latest-box{
        width:190px;
        margin: 20px 5px;
    }

}


nav{
    background-color: black; /* navbar color */
    position: fixed;
    left: 0;
    display: flex;
    justify-content: space-around;
}




*{
    box-sizing: border-box;
}

.quality{
    
    top: 0px;
    background-color: #1f1f1f;
    color: white;
    left: 50%;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.4);
    transform: translateX(-50%);
    padding: 5px 20px;
    font-weight: 501;
    position: absolute;
    
}


ul{
    list-style: none;
}


a{
    text-decoration: none;
}

.showcase-box{
    border-radius: 10px;
    width:430px;
    margin:0px 20px 10px 20px;
    overflow: hidden;
    height: 250px;
    box-shadow: 5px 15px 30px rgba(0,0,0,0.3);
}

.latest-b-img img{
    object-fit: cover;
    height: 100%;
}

.latest-b-img img{
    width: 100%;
}

body{
    padding: 0px;
    background-color:#E0E0E0; /* body background color*/
    margin:0px;
}

.movies-heading h2{
    font-size: 1.4rem;
    letter-spacing: 1px;
    padding: 1px 18px;
}

.movies-heading h2{
    font-weight: 388;
    margin: 0px;
    width: 100%;
}

nav .menu li a{
    height: 39px;
    color:white; /*nav bar text color*/
    letter-spacing: 1px;
    line-height: 43px;
    font-weight: 488;
}

nav .menu li a{
    margin: 0px;
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 0px 23px;
    display: flex;
}


footer p{
    color:#5e5e5e;
    font-size: 0.9rem;
    margin: 11px 1px;
}


.search{
    background-color: black;
    justify-content: center;
    display: flex;
    border-radius: 23px;
}


.movies22 { 
    background-color: black;
    border: gray;
    text-emphasis: none;
}



.search2{
    background-color: rgba(245,245,245,0.8);
    display: flex;
    border-radius: 22px;
    justify-content: center;
}



.search input{
    height: 31px;
    border:none;
    width:100%;
    background-color: black;
    outline: none;
}

img{
    height: 38px;
}




.showcase-box img{
    object-fit: cover;
    width:100%;
}


.latest-b-text p{
    margin: 0px;
}


.btns a{
    background-color: blue;
    margin: 9px;
    display: flex;
    align-items: center;
}